body
{
  color: rgb(0, 17, 255);
  background: #00d9ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(255, 0, 0);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(0, 0, 0);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}











